*{
    padding: 0;
    margin: 0;
    font-family: Arial, Tahoma, sans-serif;
    /* background-color: rgb(0, 255, 60); */
}
@font-face{
    font-family: Norse-bold;
    src: url("./src/Norse-Bold.otf") format("truetype");
}

body{
    background-color: rgb(246, 246, 246);
    /* background-color: aqua; */
    width: 100%;
    display: flex;
}

.form-container{
    /* border: 1px solid aqua; */
    margin: 0;
    left: 40%;
    padding: 0;
    position: relative;
    height: 100%;
    max-height: 100vh;
    width: 60vw;
}
.form-heading{
    font-size: 1.5em;
    margin: 4rem 0;
    padding: 0 2rem;
}

.form-field{
    position: relative;
    background-color: white;
    padding: 1rem 2rem;
    margin: 0;
    height: 300px;
    box-shadow: -2px 10px 7px -2px rgba(0,0,0,0.24);
    -webkit-box-shadow: -2px 10px 7px -2px rgba(0,0,0,0.24);
    -moz-box-shadow: -2px 10px 7px -2px rgba(0,0,0,0.24);
}

label{
    display: inline-block;
    position: relative;
    padding: 10px 0 10px 0;
    font-size: 1rem;
    margin-bottom: 2px;
}
label > input{  
    height: 1.5rem;
    width: 20vw;
    display: block;
    margin-top: 2px;
    margin-right: 50px;
    padding: 5px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}
input:invalid{
    border: 2px solid rgb(255, 74, 74);
}
input:focus{
    transition: all 0.3s;
    outline: none;
    border: 2px solid rgb(81, 81, 255);
    box-shadow: -2px 10px 7px -2px rgba(0,0,0,0.24);;
}

.form-footer{
    margin: 40px 0;
    padding: 0 2rem;
}

.form-footer > button{
    padding: 10px 30px;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    transition: all 0.3s;
    background-color: #38442d;
}
button:active{
    transition: 0.3s;
    background-color: #596D48;
}

.bg-container{
    position: absolute;
    background: url("./src/bg.jpg");
    height: 100%;
    width: 40%;
}

a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.logo-container{
    position: relative;
    background: rgba(0, 0, 0, 0.4);;
    top: 30%;
    height: 20vh;
}
.logo-container > img{
    position: absolute;
    top: 10%;
    right: 50%;
    height: 15vh;
    width: 5vw;
}
.logo-container > p{
    position: absolute;
    top: 2rem;
    left: 50%;
    color: white;
    font-size: 5rem;
    font-family: 'Norse-bold';
}
.bg-container > p{
    position: absolute;
    color: white;
    font-size: 0.9rem;
    top: 95%;
    right: 30%;
}
.bg-container > p > a{
    color: white;
    font-weight: lighter;
    text-decoration: underline;
}
