@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #2563eb;
}

.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.sidebar{
    background-color: #2563eb;
    height: 100%;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
    display: grid;
    grid-template-rows: 10% 90%;
}

.sidebar .icon:hover{
    background-color: #60a5fa;
    border-radius: 10px;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.side-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    padding-left: 15px;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    font-size: 15px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.icons-2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content{
    display: grid;
    grid-template-rows: 20% 90%;
}

.main-cards{
    background-color: #dbeafe;
    height: 100%;
}

.header{
    height: 100%;
    background-color: white;
}

.top-header{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search input{
    border: none;
    background-color: lightgrey;
    border-radius: 20px;
    height: 30px;
    width: 30vw;
    padding: 0 10px;
    font-size: 15px;
}

input:focus{
    border: none;
    background-color: white;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

.user img{
    cursor: pointer;
}

.user-icon img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user p{
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.bottom-header{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.welcome{
    /* background-color: yellow; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 60px;
}

.buttons{
    /* background-color: yellowgreen; */
    height: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    border: none;
    padding: 5px 30px 5px;
    border-radius: 30px;
    background-color: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.buttons button:hover{
    transition: all 0.3s;
    background-color: #60a5fa;
}

.main-cards{
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 10px 10px 0 10px;
    gap: 20px;
    height: 82.vh;
}

.project-cards{
    /* grid-column: 1 / span 2; */
    display: grid;
    grid-template-rows: 5% 95%;
}
.project-cards > p{
    font-size: 15.5px;
    /* font-weight: 600; */
}

.cards{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.card{
    background-color: white;
    border-left: 5px solid #2563eb;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    /* margin-bottom: 10px; */
    /* height: 100%; */
}

.card p:nth-child(1){
    font-size: 15px;
    font-weight: 500;
}

.card p:nth-child(2){
    color: gray;
    font-size: 12px;
    font-weight: 400;
}
.card-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    height: 50px;
}

.left-cards{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* height: 100%; */
    gap: 10px;
    padding-bottom: 10px;
}

.right-cards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 10px;
}

.announcements{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 5.01% 94.99%;
}

.announce{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.announce .title{
    font-size: 12px;
}

.announce .text{
    font-size: 10px;
    font-weight: 300;
    color: grey;
}

.divider{
    border-top: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trend .title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.trend .content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.content .detail{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.text .comment{
    font-size: 10px;
    color: grey;
}

.text p{
    font-size: 12px;
}