@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-container{
    display: grid;
    grid-template-columns: 20% 80% 1fr;
}

.sidebar{
    background-color: #2563eb;
    height: 100vh;
    padding: 20px;
    color: white;
}

.side-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    font-size: 15px;

}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.icons-2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content{
    display: grid;
    grid-template-rows: 15% 85%;
}

.main-cards{
    background-color: #dbeafe;
    height: 100%;
}

.header{
    height: 100%;
}

.top-header{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search input{
    border: none;
    background-color: lightgrey;
    border-radius: 20px;
    height: 30px;
    width: 30vw;
    padding: 0 10px;
    font-size: 15px;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

.user p{
    font-size: 1rem;
    font-weight: 400;
}

.bottom-header{
    /* background-color: blue; */
    height: 50%; /* remove after*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
}

.welcome{
    /* background-color: yellow; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 60px;
}

.buttons{
    /* background-color: yellowgreen; */
    height: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    border: none;
    padding: 5px 30px 5px;
    border-radius: 30px;
    background-color: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.buttons button:hover{
    transition: all 0.3s;
    background-color: #60a5fa;
}